@import "tailwindcss";
@import "./utilities.css" layer(utilities);

:root {
  --background: #ffffff;
  --foreground: hsl(248, 31%, 23%);

  /* BRAND COLORS */
  --brand-indigo: #2e294e;
  /* Indigo Space */
  --brand-verdi: #1b998b;
  /* Verdigris */
  --brand-accent: #f46036;
  /* Tiger Flame */
  --brand-support: #d7263d;
  /* Crimson */
  --brand-soft: #c5d86d;
  /* Lime Cream */

  /* NEUTRALS */
  --neutral-50: #fafafa;
  --neutral-100: #f2f2f3;
  --neutral-200: #e5e5e7;
  --neutral-300: #d4d4d6;
  --neutral-400: #b4b4b7;
  --neutral-500: #949498;
  --neutral-600: #343444;
  --neutral-700: #4a4a4d;
  --neutral-800: #2f2f31;
  --neutral-900: #1a1a1c;

  /*HOVER*/
  --primary-hover: #1b998b;
  --secondary-hover: #def5f1;

  --size-title: 1.5rem;
  /* FEEDBACK COLORS */
  --success: #1b998b;
  /* Verdigris */
  --warning: #f46036;
  /* Tiger Flame */
  --error: #d7263d;
  /* Crimson */
  --color-icon: #949498;
  /* Typography */
  --color-Typography: #2f2f31;
  --font-inter-sans: "Inter", sans-serif;
  --font-montserrat-sans: "Montserrat", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* BRAND COLORS */
  --color-primary: var(--brand-indigo);
  /* Indigo Space */
  --color-secondary: var(--brand-verdi);
  /* Crimson */
  --color-accent: var(--brand-accent);
  /* Tiger Flame */
  --color-support: var(--brand-support);
  /* Verdigris */
  --color-soft: var(--brand-soft);
  /* Lime Cream */

  /* NEUTRALS */
  --color-neutral-50: var(--neutral-50);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);

  /*ICONS*/
  --color-icon: var(--color-icon);
  --color-gray-border: var(--neutral-200);

  /*HOVERS*/

  --color-primary-hover: var(--primary-hover);
  --color-secondary-hover: var(--secondary-hover);
  --color-line-focus-ring: var(--brand-secondary);


  /* FEEDBACK COLORS */
  --color-success: var(--success);
  /* Verdigris */
  --color-warning: var(--warning);
  /* Tiger Flame */
  --color-error: var(--error);
  /* Crimson */

  --text-size-title: var(--size-title);
  --color-fontColor: var(--color-Typography);
  --font-inter: var(--font-inter-sans);
  --font-montserrat: var(--font-montserrat-sans);
}

.dark {
  --background: #2e294e;
  --foreground: #ffffff;
  --color-Typography: #ffffff;

  --color-icon: #e5e5e7;

  --brand-primary: #1b998b;
  /* Indigo Space */
  --brand-secondary: #c5d86d;
  /* Crimson */
  --brand-accent: #f46036;
  /* Tiger Flame */
  --brand-support: #d7263d;
  /* Verdigris */
  --brand-soft: #c5d86d;
  /* Lime Cream */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  box-sizing: border-box;
}