@layer utilities {
  .animate-fade-in {
    opacity: 0;
    animation: fadeIn 0.25s forwards;
  }

  .animate-slide-up {
    transform: translateY(12px);
    opacity: 0;
    animation: slideUp 0.28s forwards;
  }

  .animate-shake {
    animation: shake 0.45s ease-in-out;
  }

  .animate-zoom-in {
    transform: scale(.96);
    opacity: 0;
    animation: zoomIn 0.25s forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  @keyframes slideUp {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes shake {

    0%,
    100% {
      transform: translateX(0);
    }

    20% {
      transform: translateX(-6px);
    }

    40% {
      transform: translateX(6px);
    }

    60% {
      transform: translateX(-4px);
    }

    80% {
      transform: translateX(4px);
    }
  }

  @keyframes zoomIn {
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
}